/*=========== RESET ==========*/
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body {background-color: #f1f1f1;}
a {text-decoration: none;}
ul {list-style: none;}
img {max-width: 100%;}

::-webkit-scrollbar-track {
    background-color: #fafafa;
}
::-webkit-scrollbar {
    width: 10px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #ddd;
}

/*=============================*/
#amarelo{
    color: #fbc02d;
}
.barra-topo{
    width: 100%;
    height: 82px;
    background-color: #fff;
    box-shadow: 0px 2px 2px -1px rgba(0,0,0,0.33);
}
.barra-red{
    width: 100%;
    padding: 12px 0px;
    background-color: #f44336;
    text-align: center;
}
.barra-red h2{
    color: #fbc02d;
    font-weight: bolder;
}
.barra-red h1{
    color: #FFF;
    font-weight: bolder;
}
.conteudo{
    height: auto;
    background-color: white;
    margin: 20px 5%;
    padding: 0px 0px;
    width: 90%;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.05);
}
.conteudo h1{
    color: #f44336;
    font-weight: bold;
    padding-top: 15px;
    font-size: 1.35em;
    text-align: center;
    text-transform: uppercase;
}
.conteudo h1.close{
    color: #666666;
}
.conteudo input{
    width: 80%;
    padding: 10px 0;
    font-size: 1.5em;
}
.restaurante{
    background-color: transparent;
    margin: 25px 5%;
    width: 90%;
    text-align: center;
    display: inline-block;
}
.restaurante img{
    width: 100%;
}
.restaurante h1{
    font-size: 1.0em;
    color: #666666;
    padding: 3px 0;
    font-weight: bold;
    text-align: left;
}
.restaurante h2{
    font-size: 1em;
    color: #666666;
    padding: 2px 0;
    text-align: left;
}
.restaurante i{
    color: #3fce5a;
}
.restaurante i.fechado{
    color: #999999;
}
.btn-menu{
    color: #f44336;
    background-color: transparent;
    padding-top: 42px;
    float: left;
    margin-left: 20px;
}
.btn-close{
    color: #ff7066;
    background-color: transparent;
    padding-top: 42px;
    float: left;
    margin-left: 20px;
    display: none;
}
.bar{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.logo{
    width: 180px;
    height: 44px;
    float: right;
    margin-top: 18px;
    margin-right: 20px;
    background: url(../img/logobar.png) center center/180px no-repeat;
    font-size: 0;
}
.menu{
    background-color: white;
    width: 100%;
    font-size: 1.25em;
    height: auto;
    display: none;
    position: absolute;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.24);
    padding: 10px;
}
.menu li{
    font-size: 0.9em;
    padding: 10px 20px;
    width: 100%;
    background-color: #fff;
    cursor: pointer;
}
.menu li:hover{
    color: white;
    background-color: #666666;
}
.menu li:active{
    color: white;
    background-color: #f44336;
}
.menu li:visited{
    color: white;
    background-color: #f44336;
}
.menu a{
    color: #666666;
}
.menu i{
    position: absolute;
}
#aberto{
    color: #3fce5a;
}
.fav-grupo{
    display: none;
}
.fav-grupo h1.fav-top{
    font-size: 0.8em;
    font-weight: bold;
    margin-top: 12px;
    margin-top: 12px;
    margin-left: 10px;
    color: #f44336;
}
.fav-grupo i{
    position: relative;
    font-size: 0.8em;
}
.favorito{
    padding: 10px 10px;
}
.favorito img{
    height: 40px;
    width: auto;
    max-width: 40px;
    display: inline;
    float: left;
    margin-right: 10px;
    vertical-align: middle;
}
.favorito h1{
    font-size: 0.7em;
    font-weight: bold;
}
.favorito h2{
    font-size: 0.9em;
}
.perfil{
    text-align: center;
    padding: 20px 0;
}
.perfil h1{
    font-size: 0.8em;
    font-weight: bold;
    color: #666666;
    margin: 5px 0;
}
.perfil img{
    height: 50px;
    border-radius: 100%;
}
.btn-pedir{
    background-color: #3fce5a;
    color: white;
    width: 100%;
    margin-top: 7px;
    font-size: 1.25em;
    padding: 12px 0;
}
.btn-pedir:hover{
    background-color: #5ed073;
}
.btn-pedir-hot{
    background-color: #f44336;
    color: white;
    width: 100%;
    margin-top: 7px;
    font-size: 1.25em;
    padding: 12px 0;
}
.btn-pedir-hot:hover{
    background-color: #d73c31;
}
.vermelhabarra{
    padding: 0;
    margin: 0;
    background-color: #f44336;
    height: 5px;
    width: 100%;
}
.amarelabarra{
    padding: 0;
    margin: 0;
    background-color: #fbc02d;
    height: 5px;
    width: 100%;
}
.cinzabarra{
    padding: 0;
    margin: 0;
    background-color: #999999;
    height: 5px;
    width: 100%;
}
.verdebarra{
    padding: 0;
    margin: 0;
    background-color: #3fce5a;
    height: 5px;
    width: 100%;
}
.btn-ver{
    background-color: #666666;
    color: white;
    width: 100%;
    margin-top: 7px;
    font-size: 1.25em;
    padding: 12px 0;
}
.btn-ver:hover{
    background-color: #777777;
}
.spa{
    margin: 20px 40px;
}
.rodape{
    padding: 20px 0;
    background-color: #fff;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.05);
    text-align: center;
    bottom: 0;
    width: 100%;
}
.rodape ul li{
    padding: 10px 0;
}
.rodape a{
    font-size: 1.2em;
    color: #888888;
    font-weight: bold;
}
.rodape a:hover{
    color: #999999;
}
.rodape img{
    height: 48px;
    width: auto;
}
.rodape img:hover{
    opacity: 0.9;
    filter: alpha(opacity=50);
}
.rodape p{
    font-size: 1.0em;
    color: #666666;
}
.vermais{
    padding-bottom: 20px;
    text-align: center;
}
.btn-alterar {
    background-color:transparent;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
    border:1px solid #ffffff;
    color:#ffffff;
    font-size:1em;
    padding:10px 20px;
    text-decoration:none;
    margin-top: 10px;
}
.btn-alterar:hover {
    border:1px solid rgba(255,255,255,0.9);
    color: rgba(255,255,255,0.9);
}
.btn-alterar:active {
    position:relative;
    top:1px;
}
.btn-sair {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
    background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
    background-color:#ffffff;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-family:Arial;
    font-size:12px;
    padding:5px 18px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
.btn-sair:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
    background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
    background-color:#f6f6f6;
}
.btn-sair:active {
    position:relative;
    top:1px;
}
.btn-mais {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
    background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
    background-color:#ffffff;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:default;
    color:#666666;
    font-family:Arial;
    font-size:16px;
    padding:8px 25px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
.btn-mais:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
    background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
    background-color:#f6f6f6;
}
.btn-mais:active {
    position:relative;
    top:1px;
}
.btn-normal{
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
    background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
    background-color:#ffffff;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #dcdcdc;
    display: block;
    color:#666666;
    font-family:Arial;
    font-size:1.2em;
    padding:10px 18px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5px;
}
.btn-normal:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
    background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
    background-color:#f6f6f6;
}
.btn-normal:active {
    position:relative;
    top:1px;
}
.btn-normal:last-child {
    margin-right: 0;
}
.btn-buscar {
    -moz-box-shadow:inset 0px 1px 0px 0px #f44236;
    -webkit-box-shadow:inset 0px 1px 0px 0px #f44236;
    box-shadow:inset 0px 1px 0px 0px #f44236;
    background-color:#f44236;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #f44236;
    cursor:pointer;
    color:#ffffff;
    font-size:14px;
    text-decoration:none;
    text-shadow:0px 1px 0px #f44236;
    float: right;
    padding: 10px 0;
    width: 20%;
}
.btn-buscar:hover {
    background-color:#eb382f;
}
.btn-buscar:active {
    position:relative;
    top:1px;
}

/* @MEDIA QUEERY */

/* SMALL DEVICES - SMARTPHONES */
@media screen and (min-width: 480px) {
    .restaurante{
        margin-left: 4.5%;
        margin-right: 4%;
        width: 41%;
    }
    .logo{
        width: 230px;
        margin-right: 4.3%;
        background: url(../img/logobar.png) center center/230px no-repeat;
    }
    .btn-menu{
        margin-left: 5%;
    }
    .btn-close{
        margin-left: 5%;
    }

    .menu{
        width: 50%;
    }
}
/* SMALL DEVICES - TABLETS*/
@media screen and (min-width: 768px) {
    .restaurante{
        margin-left: 2.7%;
        margin-right: 2%;
        width: 28%;
    }
    .perfil img{
        height: 50px;
        border-radius: 100%;
    }
    .barra-red h2{
        color: #fbc02d;
        font-weight: bolder;
        font-size: 1.2em;
    }

    .barra-red h1{
        color: #FFF;
        font-size: 1.2em;
        font-weight: bolder;
    }
    .rodape{
        font-size: 0.9em;
    }
    .rodape ul li {
        display: inline;
        margin-right: 20px;
    }
    .rodape ul li:last-child {
        margin-right: 0;
    }
    .btn-normal{
        font-size: 1.05em;
        width: auto;
        display: inline-block;
        margin-right: 15px;
        margin-left: 0;
    }

}
/* MEDIUM DEVICES - TABLETS & DESKTOPS*/
@media screen and (min-width: 920px){
    .restaurante{
        margin-left: 2.55%;
        margin-right: 2%;
        width: 20%;
    }
    .rodape{
        font-size: 0.7em;
    }
    .rodape p{
        font-size: 1.2em;
    }
    .menu{
        width: 30%;
    }
}
/* LARGE DEVICES - WIDE SCREENS*/
@media screen and (min-width: 1248px) {
    .conteudo{
        height: auto;
        margin: 25px 17.5%;
        width: 65%;
    }
    .menu{
        width: 16.5%;
        height: auto;
    }
    .logo{
        margin-right: 17.5%;
    }
    .btn-menu{
        margin-left: 17.5%;
    }
    .btn-close{
        margin-left: 17.5%;
    }
    .menu li{
        font-size: 0.7em;
        padding: 10px 5px;
        width: 100%;
        background-color: #fff;
        cursor: default;
        font-weight: bold;
    }
    .fav-grupo{
        display: block;
    }
    #fav-hide{
        display: none;
    }
}